
section{
    background-image: url(./images/pexels-pixabay-207529.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

#sun{
    position: absolute;
    left: 730px;
    

}
#merc{
   border: 1px solid white;
   transition: 9s ease 0s;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: absolute;
   left: 701px;
   z-index: 9;
   animation: rot 6s linear infinite;

}
#merc img{
    position: relative;
    left: 20px;
    animation: rot 11s linear infinite;
}
/* #merc:hover{
    transform: rotate(-360deg) ;
    
} */

#venus{
    border: 1px solid white;
   /* transition: 8s ease 0s; */
   width: 280px;
   height: 280px;
   position: absolute;
   left: 665px;
    border-radius: 50%;
    z-index: 8;
    animation: rot 4s linear infinite;
}
#venus img{
    position: relative;
    top: 150px;
    right: 19px;
    animation: rot 11s linear infinite;
    
}
/* #venus:hover{
    transform: rotate(-360deg) ;
    
} */

#earth{
    border: 1px solid white;
   transition: 7s ease 0s;
   width: 400px;
   height: 400px;
   position: absolute;
   left: 595px;
   border-radius: 50%;
   z-index: 7;
   animation: rot 15s linear infinite;
}
#earth img{
    position: relative;
    top: 150px;
    right: 19px;
    animation: rot 11s linear infinite;
}
/* #earth:hover{
    transform: rotate(-360deg) ;
    
} */

#mars{
    border: 1px solid white;
   transition: 6s ease 0s;
   width: 500px;
   height: 500px;
   position: absolute;
   left: 545px;
   border-radius: 50%;
   z-index: 6;
   animation: rot 11s linear infinite;
}
#mars img{
    position: relative;
    top: 150px;
    right: 19px;
    animation: rot 11s linear infinite;
}
/* #mars:hover{
    transform: rotate(-360deg) ;
    
} */

#jup{
    border: 1px solid white;
   transition: 5s ease 0s;
   width: 600px;
   height: 600px;
   position: absolute;
   left: 493px;
   border-radius: 50%;
   z-index: 5;
   animation: rot 7s linear infinite;
}
#jup img{
    position: relative;
    top: 150px;
    right: 0px;
    animation: rot 11s linear infinite;
}
/* #jup:hover{
    transform: rotate(-360deg) ;
    
} */

#sat{
    border: 1px solid white;
   transition: 4s ease 0s;
   width: 750px;
   height: 750px;
   position: absolute;
   left: 420px;
   border-radius: 50%;
   z-index: 4;
   animation: rot 10s linear infinite;
}
#sat img{
    position: relative;
    top: 150px;
    right: 0px;
    animation: rot 11s linear infinite;
}
/* #sat:hover{
    transform: rotate(-360deg) ;
    
} */


#urn{
    border: 1px solid white;
   transition: 4s ease 0s;
   width: 924px;
   height: 924px;
   position: absolute;
   left: 333px;
   border-radius: 50%;
   z-index: 3;
   animation: rot 6s linear infinite;

}
#urn img{
    position: relative;
    top: 150px;
    right: -78px;
    animation: rot 11s linear infinite;
}
/* #urn:hover{
    transform: rotate(-360deg);
    
} */

    

#nep{
    border: 1px solid white;
   transition: 4s ease 0s;
   width: 1122px;
   height: 1122px;
   position: absolute;
   left: 234px;
   border-radius: 50%;
   z-index: 2;
   animation: rot 9s linear infinite;
}
#nep img{
    position: relative;
    top: 150px;
    right: -130px;
    animation: rot 11s linear infinite;
}
/* #nep:hover{
    transform: rotate(-360deg);

} */

@keyframes rot {
    100%{transform: rotate(-360deg);}
}