section {
    background-image: url(./images/pexels-pixabay-207529.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 160vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 10s ease-in-out 0s; */
    
}

#merc {
    border: 1px solid white;
    transition: 30s ease-in-out 0s ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;

    z-index: 9;

}

#merc img {
    position: relative;
    left: 20px;
}

#merc:hover {
    transform: rotate(-360deg);

}

#venus {
    border: 1px solid white;
    transition: 50s ease 2s;
    width: 280px;
    height: 280px;
    position: absolute;
    right: -39px;
    border-radius: 50%;
    z-index: 8;
    bottom: -42px;
}

#venus img {
    position: absolute;
    top: 11px;
    right: 50px;

}

#venus:hover {
    transform: rotate(-360deg);

}

#earth {
    border: 1px solid white;
    transition: 23s ease-in-out 3s;
    width: 400px;
    height: 400px;
    position: absolute;
    right: -60px;
    bottom: -59px;
    border-radius: 50%;
    z-index: 7;
}

#earth img {
    position: relative;
    top: 51px;
    right: 19px;
}

#earth:hover {

    transform: rotate(-360deg);

}

#mars {
    border: 1px solid white;
    transition: 11s ease-in-out 2s;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -52px;
    right: -52px;
    border-radius: 50%;
    z-index: 6;
}

#mars img {
    position: relative;
    top: 373px;
    right: 19px;
}

#mars:hover {
    transform: rotate(-360deg);

}

#jup {
    border: 1px solid white;
    transition: 30s ease-in-out 3s;
    width: 600px;
    height: 600px;
    position: absolute;
    right: -48px;
    top: -51px;
    border-radius: 50%;
    z-index: 5;
}

#jup img {
    position: relative;
    top: 113px;
    right: 0px;
}

#jup:hover {
    transform: rotate(-360deg);

}

#sat {
    border: 1px solid white;
    transition: 90s ease-in-out 4s;
    width: 750px;
    height: 750px;
    position: absolute;
    top: -79px;
    right: -75px;
    border-radius: 50%;
    z-index: 4;
}

#sat img {
    position: relative;
    top: 560px;
    right: 0px;
}

#sat:hover {
    transform: rotate(-360deg);

}


#urn {
    border: 1px solid white;
    transition: 50s ease-in-out 1s;
    width: 924px;
    height: 924px;
    position: absolute;
    top: -85px;
    right: -84px;
    border-radius: 50%;
    z-index: 3;
}

#urn img {
    position: relative;
    top: 236px;
    right: -78px;
}

#urn:hover {
    transform: rotate(-360deg);

}



#nep {
    border: 1px solid white;
    transition: 100s ease-in-out 0s;
    width: 1122px;
    height: 1122px;
    position: absolute;
    top: -100px;
    right: -100px;
    border-radius: 50%;
    z-index: 2;
}

#nep img {
    position: relative;
    top: 759px;
    right: -130px;
}

#nep:hover {
    transform: rotate(-360deg);


}

#sun:hover {
    transform: rotate(-360deg);
}